.last{
    width: 100%;
    height: 170px;
   background-color:rgb(230, 213, 191,0.8);
    padding-top: 15px; 
    position: absolute;
    top: 5932px;
    display:block;
}
.last_h3{
    text-align: center;
    font-family: OCR A Std, monospace ; text-align: center;
    color: #40312E;
    font-size: 24px;
}
.contactspace{
    width: 450px;
    position: relative;
    left: calc(55% - 200px);
}

.pic{
    width: 60px;
    height: 60px;
    justify-content: space-around;
    display: inline;
}
